<app-header-client></app-header-client>

<!-- New post window starts -->

<textarea [(ngModel)]='postDescription' rows="30" cols="120" placeholder="Write your post Vasu">                             
</textarea>
<br>
<button type="submit" (click)="onSubmit()">Submit</button>  <button type="submit" (click)="onCancel()">Cancel</button>
<br>
<!-- New post window ends -->

<ng-container *ngFor="let post of posts">
    <app-post [post]="post">
    </app-post>
</ng-container>
<!-- Right side chat panel -->
<app-chat-panel></app-chat-panel>