<app-header-client></app-header-client>

<!-- New post window starts -->

<div class="nes-container is-rounded postarea">
    <textarea class="nes-textarea" [(ngModel)]='postDescription' rows="30" cols="120" placeholder="Write your post Vasu"></textarea>
    <button type="submit" class="nes-btn" (click)="onSubmit()">Submit</button>  
    <button type="submit" class="nes-btn" (click)="onCancel()">Cancel</button>
</div>


<!-- New post window ends -->

<ng-container *ngFor="let post of posts">
    <app-post [post]="post">
    </app-post>
</ng-container>
<!-- Right side chat panel -->
<app-chat-panel></app-chat-panel>
