.wrapper {
    width: 400px;
    height: 350px;
    position: absolute;
    margin-left: -200px;
    margin-top: -175px;
    left: 50%;
    top: 50%; 
}

.nes-input, .nes-btn {
    margin-top: 30px !important;
}

