<div class="wrapper nes-container is-rounded is-dark">
    
    <img src="assets/images/logo.jpg">
    
    <input type="text" id="setwidth" placeholder="Search..">
    
    <button type=button class="nes-btn">Home</button> 
    <button type="button" class="nes-btn">Videos</button>
    <button type="button" class="nes-btn">Groups</button>
    <button type="button" class="nes-btn">Messages</button>
    <button type="button" class="nes-btn"> Notifications</button>
    
    <div class="nes-select is-dark">
        <select required id="dark_select">
            <option value="0" selected>See your profile</option>
            <option value="1">Settings</option>
            <option value="2">Help</option>
            <option value="3">Log out</option>
        </select>
    </div>
</div>

