<div class="wrapper">
    <div class="leftbar">
        <!-- <p>header-client works!</p> -->
        <!-- Left alignment starts -->
        <img src="assets/images/logo.jpg">
        <input type="text" placeholder="Search..">
    <!-- Left alignment finishes -->
    </div>

    <div class="centerbar">
        <!-- Center alignment starts -->
        <button type="button">Home</button> <!--This home button will be selected by default-->
        <button type="button">Videos</button>
        <button type="button">Groups</button>
        <!-- Center alignment finishes -->
    </div>

    <div class="rightbar">
        <!-- Right alignment stars -->
        <img src="assets/images/userprofilephoto.jpg">
        <button type="button">Messages</button>
        <button type="button">Notifications</button>
        <select>
            <option>See your profile</option>
            <option>Settings</option>
            <option>Help</option>
            <option>Log Out</option>
        </select>
        <!-- Right alignment finishes -->
    </div>
</div>