img {
    margin-left: 5px;
    width: 25px;
    height: 25px;
}

input{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    background-color: #F1FAEE;
    width: 250px;
    height: 30px;
    outline: none !important;
    border: 0px solid white;
    border-radius: 3px;
}

div.wrapper {
    margin: 5px;
    border-radius: 8px;
    height: 75px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.leftbar {margin-right: 5px;}
.rightbar {margin-left: 5px;}

.leftbar, .centerbar, .rightbar {
    border-radius: 3px;
    height: 75px;
    background-color: #213249;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

button {
    color: white;
    font-size: 18px;
    background-color: #E63946;
    width: 255px;
    height: 30px;
    border-radius: 3px;
    outline: none !important;
}

details {
	position: relative;
	width: 200px;
	/* margin-right: 1rem; */
}

details[open] {
	z-index: 1;
}

summary {
    border: 2px solid;
    border-left-color: #767676;
    border-top-color: #767676;
    border-right-color: #212121;
    border-bottom-color: #212121;
    color: white;
	padding: 5px;
	cursor: pointer;
	border-radius: 3px;
	background-color: #E63946;
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

details[open] summary:before {
	content: '';
	display: block;
	width: 100vw;
	height: 100vh;
	background: transparent;
	position: fixed;
	top: 0;
	left: 0;
}

summary:after {
	content: '';
	display: inline-block;
	float: right;
	width: .5rem;
	height: .5rem;
	border-bottom: 1px solid currentColor;
	border-left: 1px solid currentColor;
	border-bottom-left-radius: 2px;
	transform: rotate(45deg) translate(50%, 0%);
	transform-origin: center center;
	transition: transform ease-in-out 100ms
}

summary:focus {
	outline: none;
}

details[open] summary:after {
	transform: rotate(-45deg) translate(0%, 0%);
}

ul {
	width: 100%;
	background: #ddd;
	position: absolute;
	top: calc(100% + .5rem);
	left: 0;
	padding: 1rem;
	margin: 0;
	box-sizing: border-box;
	border-radius: 5px;
	max-height: 200px;
	overflow-y: hidden;
}

li {
    list-style-type: none;
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
}

li:first-child {
	padding-top: 0;
}

li:last-child {
	padding-bottom: 0;
	border-bottom: none;
}

a {
    text-decoration: none;
}

a:visited {
    color: black;
}
