<div class="nes-container with-title is-rounded postboxes">
    <!-- User profile info starts-->
    <div class="posttext">
        <div class="a">
        <div><img src="assets/images/userprofilephoto.jpg">
            {{post.userName}} </div>
            <!--{{post.userName}}-->
        <!-- User profile info stops -->
        <!-- Post description and image window starts -->
            {{post.createdDate | date:'medium'}}
        </div>
        <div class="b">{{post.description}}</div>
    </div>
    <!-- Post description and image window ends -->

    <app-post-comments [post]="post"></app-post-comments>
    <!-- post comment and like window starts -->
</div>
<!-- post comment and like window ends -->
