img {
    margin-left: 5px;
    width: 30px;
    height: 30px;
}

.postboxes {
    margin-top : 30px;
}

.posttext {
    display:flex;
    flex-direction: column;
}

.posttext .a {
    display:flex;
    justify-content: space-between;
}

.b {
    margin-top: 10px;
    margin-bottom: 10px;
}

