<div class="wrapper nes-container with-title">
    <h3 class="title">Signup</h3>
    <form [formGroup]="userSignUpForm" (ngSubmit)="onSubmit()">
        <input type="text" formControlName="firstName" class="nes-input">
        <input type="text" formControlName="lastName" class="nes-input">
        <input type="text" formControlName="lastName" class="nes-input"> 
        <input type="text" formControlName="email" class="nes-input">
        <input type="password" formControlName="password" class="nes-input"> 
        <input type="password" formControlName="confirmPassword" class="nes-input">
        <button class="nes-btn" type="submit">Sign up </button>
    </form>
</div>
