<div class="wrapper">
<form [formGroup]="userSignUpForm" (ngSubmit)="onSubmit()">
  <p id="heading">Signup</p>
  <div>
    <input type="text" formControlName="firstName" placeholder="First Name">
  </div>
  <div class="gap">
    <input type="text" formControlName="lastName" placeholder="Last Name">
  </div>

  <div class="gap">
    <input type="text" formControlName="email" placeholder="Email">
  </div>

  <div class="gap">
      <input type="password" formControlName="password" placeholder="Password">
  </div>

  <div class="gap">
    <input type="password" formControlName="confirmPassword" placeholder="Confirm Password">
  </div>

  <button class="gap" type="submit">SignUp</button>
</form>
</div>